<section class="card mt-4" aria-labelledby="titulo-nuevo-movimiento">
    <div class="card-body p-4">
      <h2 id="titulo-nuevo-movimiento" class="fs-5 fw-bold mb-3">
        Nuevo movimiento
      </h2>

      <form class="row g-3 align-items-end">
        <div class="col-12 col-md-4">
          <label for="tipo" class="form-label">Tipo</label>

          <select [(ngModel)]="tipo" name="tipo" class="form-select" required>
            <option value=" " disabled selected>Selecciona un tipo</option>
            <option value="Recarga">Recarga</option>
            <option value="Gasto">Gasto</option>
          </select>
        </div>

        <div class="col-12 col-md-4">
          <label for="monto" class="form-label">Monto (S/)</label>

          <input
            id="monto"
            name="monto"
            type="number"
            class="form-control"
            placeholder="Ingrese Monto"
            [(ngModel)]="monto"
            min="0.01"
            step="0.01"
            required
          >
        </div>
        
        <div
          *ngIf="mensajeError"
          class="alert alert-danger mt-2"
          role="alert">

          {{ mensajeError }}

        </div>

        <div class="col-12 col-md-4">
          <button type="button" class="btn btn-primary w-100"
          (click)="registrarMovimiento()">
            Registrar movimiento
          </button>
        </div>
      </form>
    </div>
  </section>
  